html {
    background-color: lightsteelblue;
}

nav {
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    text-align: center;
    background-color: rgb(135, 135, 135);
    padding:20px;
    height: 25px;
}

nav a {
    background-color: lightgray;
    font-size: larger;
    padding:10px;
    border-radius: 3px;
    text-decoration: none;
    color:black;
}

#page-title {
    text-align: center;
}

#main-body {
    text-align: center;
    background-color: rgb(149, 165, 186);
    border-radius: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
}

